.container {
  margin-block-start: 29px;
}

.from,
.to {
  display: block;
  font-family: Inter, sans-serif;
  font-weight: 400;
}

.from {
  font-size: 20px;
}

.to {
  margin-block-start: 12px;
  color: black;
  font-size: 44px;
}
