.container {
    margin: 25px 0;
}

.header,
.description {
    font-family: Inter, sans-serif;
    text-align: start;
}

.header {
    color: black;
    font-size: 26px;
    font-weight: 700;
}

.description {
    font-size: 21px;
    font-weight: 400;
}