.btnCon {
  position: relative;
  text-align: center;
}

.line {
  position: absolute;
  inset-block-start: 50%;
  inset-inline-start: 0;
  z-index: 0;

  inline-size: 100%;
  margin: 0;

  border-color: #d9d9d9;

  color: #d9d9d9;

  transform: translateY(-50%);

  border-block-end-width: 1px;
  border-block-start: none;
}

.button {
  position: relative;

  inline-size: 287px;
  block-size: 48px;

  background-color: #d9d9d9;
  border: none;
  border-radius: 24px;

  color: black;
  font-size: 22px;
  font-weight: 400;
}

.arrowUp {
  display: inline-block;

  inline-size: 15px;
  block-size: 16px;

  background-image: url('./arrow.svg');
  background-size: contain;
}

.arrowDown {
  display: inline-block;

  inline-size: 15px;
  block-size: 16px;

  background-image: url('./arrow.svg');
  background-size: contain;

  transform: rotate(180deg);
}

.descriptionRow {
  margin-block-end: 10px;
}
